
@{
    ViewBag.Title = "票货列表";
    Layout = "~/Views/Shared/_LayoutBootstrapTable.cshtml";
}

<script src="~/Content/layer/layer.js"></script>
<script src="~/Content/My97DatePicker/WdatePicker.js"></script>

<div class="panel-body">
    <div id="toolbar" class="btn-group">
        @{
            if (ViewBag.roleId == "3")
            {
                <button id="btn_add" type="button" class="btn btn-primary" onclick="Add(0)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
            }
        }

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-search" aria-hidden="true">  </span>查询
        </button>
    </div>
    <table id="table"></table>
</div>
<input type="hidden" class="form-control" id="roleId" name="roleId" value="@ViewBag.roleId">
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>

                <h4 class="modal-title">请输入查询条件</h4>

            </div>
            <div class="modal-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="GBNO" placeholder="编码">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="C_GOODSAGENT_NAME" placeholder="货代">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" class="form-control" id="CreatTime" placeholder="创建时间从">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" class="form-control" id="CreatTime1" placeholder="创建时间至">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="BLNO" placeholder="提单">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="C_GOODS" placeholder="货物">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="HuoZhu" placeholder="货主">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" id="btn_query" class="btn btn-sm btn-primary" onclick="Serach()">查询</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function chakan_dc(id) {

        var url = "/ck/Money/TallyBll_fy?id=" + id;
        var newTab = window.parent.document.getElementById("addNewTabBySon");
        newTab.href = url;
        newTab.innerText = "费用详情";
        newTab.click();
    }
    function changeDateFormat(cellval) {
        var dateVal = cellval + "";
        if (cellval != null) {
            var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    }
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#table').bootstrapTable({
                url: '/GoodsBill/GetGOODSBILLList_wancheng', //请求后台的URL（*）
                method: 'get', //请求方式（*）
                toolbar: '#toolbar', //工具按钮用哪个容器
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                sortable: true, //是否启用排序
                sortOrder: "asc", //排序方式
                queryParams: oTableInit.queryParams, //传递参数（*）
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                pageSize: 10, //每页的记录行数（*）
                pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true, //是否显示所有的列
                showRefresh: true, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                // height: $(window).height() - 30,
                uniqueId: "ID", //每一行的唯一标识，一般为主键列
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: true, //是否显示父子表
                onLoadSuccess: function (data) {
                    var kunCun = 0.0;
                    var kunCunW = 0.0;
                    for (var o in data.rows) {
                        if (data.rows.hasOwnProperty(o)) {
                            var zKunCun = parseFloat(data.rows[o].KunCun);
                            var zKunCunW = parseFloat(data.rows[o].KunCunW);
                            if (zKunCun < 0) {
                                zKunCun = 0;
                            }
                            if (zKunCunW < 0) {
                                zKunCunW = 0;
                            }
                            kunCun += parseFloat(zKunCun);
                            kunCunW += parseFloat(zKunCunW);
                        }
                    }
                    var rows = [];
                    rows.push({
                        ID: "",
                        GBNO: "",
                        ContoractNumber: "",
                        C_GOODSAGENT_NAME: "",
                        C_GOODS: "",
                        ShipName: "",
                        VGNO: "",
                        PLANAMOUNT: "",
                        PLANWEIGHT: "",
                        PLANWEIGHT: "",
                        MARK: "",
                        CreatPeople: "",
                        State: "",
                        HuoZhu: "",

                        PLANWEIGHT: "合计",
                        KunCun: kunCun.toFixed(3),
                        KunCunW: kunCunW.toFixed(3),
                    });
                    $('#table').bootstrapTable('append', rows);
                },
                columns: [
                    {
                        field: 'ID',
                        width: 100,
                        title: '操作',
                        formatter: function (value, row, index) {
                            if (value=="") {
                                return "";
                            }
                            var roleId = $("#roleId").val();
                            if (roleId == 3) {
                                if (row.State == "进行中") {
                                    return '<div  class="btn-group"><button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Del(\'' + row.ID + '\')">删除</a></li><li><a  onclick="Add(\'' + row.ID + '\')">编辑</a></li><li><a  onclick="Add_C_CONSIGN(\'' + row.ID + '\',0)">新增委托</a></li><li><a  onclick="shenhe(\'' + row.ID + '\',0)">完成</a></li></ul></div>';
                                }
                                else if (row.State == "已完成") {
                                }
                                else {
                                    return '<div  class="btn-group"><button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Add(\'' + row.ID + '\')">编辑</a></li><li><a  onclick="Add_C_CONSIGN(\'' + row.ID + '\',0)">新增委托</a></li><li><a  onclick="shenhe(\'' + row.ID + '\',0)">完成</a></li></ul></div>';
                                }
                            }
                            else if (roleId==6)
                            {
                                if (row.State == "进行中") {
                                    return '<div  class="btn-group"><button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Add(\'' + row.ID + '\')">编辑</a></li><li><a  onclick="shenhe(\'' + row.ID + '\',0)">完成</a></li></ul></div>';

                                }
                                else if (row.State == "已完成") {
                                }
                                else {
                                    return '<div  class="btn-group"><button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Add(\'' + row.ID + '\')">编辑</a></li><li><a  onclick="shenhe(\'' + row.ID + '\',0)">完成</a></li></ul></div>';

                                }
                            }
                            else if (roleId == 7) {
                                if (row.State == "已完成") {
                                    return '<div  class="btn-group"><button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="qx_shenhe(\'' + row.ID + '\',0)">取消审核</a></li></ul></div>';
                                }
                                else {
                                    return '<div  class="btn-group"><button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="shenhe(\'' + row.ID + '\',0)">完成</a></li></ul></div>';
                                }
                            }
                            else {
                            }

                        }

                    },
                    {

                        field: 'GBNO',
                        title: '票货编码',
                        formatter: function (value, row, index) {
                            return '<a  onclick="chakan(\'' + row.ID + '\')">' + row.GBNO + '</a>';
                        }
                        ,
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },

                    },
                    {
                        width: 130,
                        field: 'ContoractNumber',
                        title: '合同号',
                        formatter: function (value, row, index) {
                            var roleId = $("#roleId").val();
                            if (roleId != 4) {
                                if (row.ContoractNumber != null) {
                                    return '<a  onclick="chakan_ht(\'' + row.CONTRACT_Guid + '\')">' + row.ContoractNumber + '</a>';
                                }
                            }


                        }

                    },
                    {
                        field: 'C_GOODSAGENT_NAME',
                        title: '货代',
                        //formatter: tdShowAll
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll

                    },

                    {
                        field: 'C_GOODS',
                        title: '货物',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'ShipName',
                        title: '船名',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'VGNO',
                        title: '航次',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'PLANAMOUNT',
                        title: '计划件数',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'PLANWEIGHT',
                        title: '计划重量/材积',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'KunCun',
                        title: '库存件数',
                        formatter: function (value, row, index) {
                                return '<a>' + row.KunCun + '</a>';

                            }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'KunCunW',
                        title: '库存重量/材积',
                        formatter: function (value, row, index) {
                                return '<a>' + row.KunCunW + '</a>';
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'SuoHuoKunCun',
                        title: '已锁货件数',
                    },
                    {
                        field: 'SuoHuoKunCunW',
                        title: '已锁货重量/材积',
                    },
                    {
                        field: 'MARK',
                        title: '备注',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        width: 110,
                        field: 'CreatTime',
                        title: '建票日期',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'CreatPeople',
                        title: '建票人',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'State',
                        title: '状态',
                        formatter: function (value, row, index) {
                            if (row.State == "进行中") {

                                return '<span class="label label-danger ">' + value +'</span>';

                            }
                            else if (row.State == "已完成")
                            {
                                return '<span class="label label-primary ">' + value +'</span>';
                            }
                            else {
                                return '<span class="label label-warning ">'+value+'</span>';

                            }
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    }

                ],
                //注册加载子表的事件。注意下这里的三个参数！
                onExpandRow: function (index, row, $detail) {

                    InitSubTable(index, row, $detail);
                },
                formatLoadingMessage: function () {
                    return "请稍等，正在加载中。。。";
                }
            });
        };
        InitSubTable = function (index, row, $detail) {
            var fatherId = row.ID;
            var cur_table = $detail.html('<table id="Serach_CONSIGN"></table>').find('table');
            $(cur_table).bootstrapTable({
                url: '/GoodsBill/GetCONSIGNList',
                method: 'get',
                queryParams: { id: fatherId },
                ajaxOptions: { id: fatherId },
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false, //是否显示分页（*）
                sortable: false, //是否启用排序
                sortOrder: "asc", //排序方式
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: false, //是否显示所有的列
                showRefresh: false, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                uniqueId: "guid", //每一行的唯一标识，一般为主键列
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: true, //是否显示父子表
                pageSize: 100,
                pageList: [10, 25],
                columns: [
                    {
                        align: 'center',
                        width: 100,
                        title: '操作',
                        formatter: function (value, row, index) {
                            var roleId = $("#roleId").val();
                            if (roleId == 4) {
                                if (row.State == "已完成") {

                                }
                                else{
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Add_lh(\'' + row.ID + '\',0,\'' + '进出库' + '\')">新增理货单</a></li></ul></div>';

                                }
                            }
                            else if (roleId == 3) {
                                if (row.State == "进行中") {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Del_wt(\'' + row.ID + '\')">删除</a></li><li><a  onclick="Add_wt(\'' + row.GOODSBILL_ID + '\',\'' + row.ID + '\')">编辑</a></li><li><a  onclick="shenhe_wt(\'' + row.ID + '\',0)">完成</a></li></ul></div>';

                                }
                                else if (row.State == "已完成") {
                                }
                                else {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="shenhe_wt(\'' + row.ID + '\',0)">完成</a></li></ul></div>';
                                }
                            }
                            else if (roleId == 7)
                            {
                                if (row.State == "已完成") {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="qx_shenhe_wt(\'' + row.ID + '\',0)">取消审核</a></li></ul></div>';
                                }
                                else {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="shenhe_wt(\'' + row.ID + '\',0)">完成</a></li></ul></div>';
                                }
                            }
                            else if (roleId == 6) {
                                if (row.State == "已完成") {
                                }
                                else {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="shenhe_wt(\'' + row.ID + '\',0)">完成</a></li></ul></div>';
                                }
                            }
                            else {


                            }
                        }
                    },

                    {
                        width: 130,
                        field: 'CGNO',
                        title: '委托号',
                        formatter: function (value, row, index) {
                            return '<a  onclick="chakan_CONSIGN(\'' + row.GOODSBILL_ID + '\',\'' + row.ID + '\')">' + row.CGNO + '</a>';
                        },


                    },
                    {
                        field: 'PAPERYNO',
                        title: '纸质委托号',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    },
                    {
                        field: 'CODE_OPERATION',
                        title: '作业过程',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }
                    ,
                    {
                        field: 'PLANAMOUNT',
                        title: '计划件数',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }
                    ,
                    {
                        field: 'PLANWEIGHT',
                        title: '计划重量/材积',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    },{
                    field: 'FactNum',
                    title: '实际件数',
                    cellStyle: {
                        css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                    },
                    formatter: tdShowAll
                },
                {
                    field: 'FactNumW',
                    title: '实际重量/材积',
                    cellStyle: {
                        css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                    },
                    formatter: tdShowAll
                },

                    {
                        field: 'HengZhong',
                        title: '衡重',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    },
                    {
                        width: 110,
                        field: 'WeiTuoTime',
                        title: '委托日期',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        width: 200,
                        field: 'BeiZhu',
                        title: '备注',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    },


                    {
                        field: 'CREATORNAME',
                        title: '创建人',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    },
                    {
                        width: 110,
                        field: 'State',
                        title: '状态',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: function (value, row, index) {
                            if (row.State == "进行中") {

                                return '<span class="label label-danger ">' + value + '</span>';

                            }
                            else if (row.State == "已完成") {
                                return '<span class="label label-primary ">' + value + '</span>';
                            }
                            else {
                                return '<span class="label label-warning ">' + value + '</span>';

                            }
                        }

                    },




                ],
                //无线循环取子表，直到子表里面没有记录
                onExpandRow: function (index, row, $Subdetail) {
                    InitSubTable(index, row, $Subdetail);
                },
                //注册加载子表的事件。注意下这里的三个参数！
                onExpandRow: function (index, row, $detail) {

                    InitSubTable_TALLYBILL(index, row, $detail);
                },
                formatLoadingMessage: function () {
                    return "请稍等，正在加载中。。。";
                }
            });
        };
        InitSubTable_TALLYBILL = function (index, row, $detail) {
            var fatherId = row.ID;
            var cur_table = $detail.html('<table id="Serach_TALLYBILL"></table>').find('table');
            $(cur_table).bootstrapTable({
                url: '/GoodsBill/GetTALLYBILLList',
                method: 'get',
                queryParams: { id: fatherId },
                ajaxOptions: { id: fatherId },
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false, //是否显示分页（*）
                sortable: false, //是否启用排序
                sortOrder: "asc", //排序方式
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: false, //是否显示所有的列
                showRefresh: false, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                uniqueId: "guid", //每一行的唯一标识，一般为主键列
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: false, //是否显示父子表
                pageSize: 100,
                pageList: [10, 25],
                columns: [
                    {
                        align: 'center',
                        width: 70,
                        title: '操作',
                        formatter: function (value, row, index) {
                            var roleId = $("#roleId").val();
                            if (roleId == 4) {
                                if (row.State == "已完成") {

                                }
                                else {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Del_lh(\'' + row.ID + '\')">删除</a></li><li><a  onclick="Add_lh(\'' + row.CONSIGN_ID + '\',\'' + row.ID + '\',\'' + '进出库' + '\')">编辑</a></li></ul></div>';
                                }
                            }
                            else if (roleId == 6) {
                                if (row.State == "已完成") {

                                }
                                else {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Add_lh(\'' + row.CONSIGN_ID + '\',\'' + row.ID + '\',\'' + '进出库' + '\')">编辑</a></li><li><a  onclick="shenhe_lh(\'' + row.ID + '\',0)">审核</a></li></ul></div>';

                                }
                            }
                            else if (roleId == 7) {
                                if (row.State == "已完成") {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="qx_shenhe_lh(\'' + row.ID + '\',0)">取消审核</a></li></ul></div>';
                                }
                                else
                                {
                                    return '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="shenhe_lh(\'' + row.ID + '\',0)">审核</a></li></ul></div>';
                                }
                            }

                        },


                    },

                    {
                        width: 130,
                        field: 'TBNO',
                        title: '理货单号',
                        formatter: function (value, row, index) {
                            return '<a  onclick="chakan_lh(\'' + row.ID + '\')">' + row.TBNO + '</a>';
                        }

                    }
                    ,
                    {
                        field: 'CODE_OPSTYPE',
                        title: '进出库类别',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }
                    , {
                        field: 'CODE_SECTION',
                        title: '位',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }

                    ,
                    {
                        field: 'PIECEWEIGHT',
                        title: '实际件重',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }
                    ,
                    {
                        field: 'AMOUNT',
                        title: '实际件数',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }
                    ,
                    {
                        field: 'WEIGHT',
                        title: '实际重量/材积',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'XIANGSHU',
                        title: '实际箱数',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'CODE_QUALITY',
                        title: '过磅',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'CODE_WORKTEAM',
                        title: '苫盖',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'TALLYMAN',
                        title: '理货员',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'BanCi',
                        title: '班次',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'SIGNDATE',
                        title: '理货时间',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'DuanMu',
                        title: '断木',

                    },
                    {
                        width: 110,
                        field: 'REMARK',
                        title: '备注',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        width: 110,
                        field: 'Sh',
                        title: '审核人',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        width: 80,
                        field: 'State',
                        title: '状态',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }, formatter: function (value, row, index) {
                            if (row.State == "进行中") {

                                return '<span class="label label-danger ">' + value + '</span>';

                            }
                            else if (row.State == "已完成") {
                                return '<span class="label label-primary ">' + value + '</span>';
                            }

                        }
                    }
                ],
                //无线循环取子表，直到子表里面没有记录
                onExpandRow: function (index, row, $Subdetail) {
                    InitSubTable(index, row, $Subdetail);
                },

            });
        };
        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {
                limit: params.limit, //页面大小
                offset: params.offset, //页码
                GBNO: $("#GBNO").val(),
                C_GOODSAGENT_NAME: $("#C_GOODSAGENT_NAME").val(),
                CreatTime: $("#CreatTime").val(),
                CreatTime1: $("#CreatTime1").val(),
                BLNO: $("#BLNO").val(),
                C_GOODS: $("#C_GOODS").val(),
                HuoZhu: $("#HuoZhu").val(),
            };
            return temp;
        };
        return oTableInit;
    };


    function Add(id) {
        layer.open({
            type: 2,
            title: "编辑票货",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/Add_C_GOODSBILL?id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
                Serach();
            }
        });
    }
    function chakan(id) {
        layer.open({
            type: 2,
            title: "查看票货",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/GOODSBILL_xq?id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }
    function chakan_ht(CONTRACT_Guid) {
        layer.open({
            type: 2,
            title: "查看合同",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/HeTong_xq?CONTRACT_Guid=" + CONTRACT_Guid,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }
    function Add_C_CONSIGN(id_GoodsBill,id) {
        layer.open({
            type: 2,
            title: "编辑委托",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/Entrust/Add_C_CONSIGN?id_GoodsBill=" + id_GoodsBill+"&&id="+id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
                Serach_CONSIGN();
            }
        });
    }
    //单个删除
    function Del(id) {
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {

            id = JSON.stringify({ ID: id });
            $.ajax({
                type: 'POST',
                url: '/api/mapi/DelById',
                contentType: "application/json",
                data: JSON.stringify({ tableName: 'C_TB_HC_GOODSBILL', ID: id }),
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("删除成功！", "您已经永久删除了这条信息。", "success");
                        $("#table").bootstrapTable('refresh');

                    } else {
                        swal("删除失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }

    //批量删除
    $("#btn_delete").click(function () {
        var a = $("#table").bootstrapTable('getSelections');
        if (a.length <= 0) {

            swal("删除失败！", "请选中一行。", "error");
            return;
        }
        swal({
            title: "您确定要删除这些信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            var b = JSON.stringify(a);
            var url = "/GoodsBill/Del_Dic_GOODSBILL";
            $.ajax({
                dataType: "json",
                traditional: true,//这使json格式的字符不会被转码
                data: { "datalist": b },
                type: "post",
                url: url,
                success: function (data) {
                    swal("成功！", "您已经永久删除了这条信息。", "success");
                    $("#table").bootstrapTable('refresh');
                },
                error: function (data) {
                    swal("删除失败！", data.responseText, "error");
                }
            });

        });

    });
    function shenhe(id) {
        swal({
            title: "您确定要完成这条信息吗",
            text: "完成后将改变此条数据以及所有子数据，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "完成",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/GoodsBill/shenheGoodsBill',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("操作成功！", "您已经完成了此条数据。", "success");
                        Serach();

                    } else {
                        swal("操作失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function qx_shenhe(id) {
        swal({
            title: "您确定要取消审核这条信息吗",
            text: "请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/GoodsBill/qx_shenheGoodsBill',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("操作成功！", "您已经完成了此条数据。", "success");
                        Serach();

                    } else {
                        swal("操作失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function Add_wt(id_GoodsBill, id) {
        layer.open({
            type: 2,
            title: "编辑委托",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/Entrust/Add_C_CONSIGN?id_GoodsBill=" + id_GoodsBill + "&&id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
                Serach_CONSIGN();
            }
        });
    }
    function chakan_CONSIGN_wt(id_GoodsBill, id) {
        layer.open({
            type: 2,
            title: "查看委托单",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/Entrust/CONSIGN_ck?id_GoodsBill=" + id_GoodsBill + "&&id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            }

        });
    }

    //单个删除
    function Del_wt(id) {
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/Entrust/DelEntrustById',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("删除成功！", "您已经永久删除了这条信息。", "success");
                        Serach_CONSIGN();

                    } else {
                        swal("删除失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function shenhe_wt(id) {
        swal({
            title: "您确定要完成这条信息吗",
            text: "完成后将改变此条数据以及所有子数据，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "完成",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/Entrust/shenheCONSIGN',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("操作成功！", "您已经完成了此条数据。", "success");
                        Serach_CONSIGN();

                    } else {
                        swal("操作失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function qx_shenhe_wt(id) {
        swal({
            title: "您确定要完成这条信息吗",
            text: "请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/Entrust/qx_shenheCONSIGN',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("操作成功！", "您已经取消审核了此条数据。", "success");
                        Serach_CONSIGN();

                    } else {
                        swal("操作失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function chakan_goodsBill(id) {
        layer.open({
            type: 2,
            title: "查看票货",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/GOODSBILL_xq?id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }
    function Add_lh(CONSIGN_ID,id,type) {
        layer.open({
            type: 2,
            title: "编辑理货单",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/TallyBll/AddTallyBll?CONSIGN_ID=" + CONSIGN_ID + "&&id=" + id + "&&type=" + type,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
                Serach_TALLYBILL();
            }
        });
    }
    function chakan_lh(id) {
        layer.open({
            type: 2,
            title: "查看理货单",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/TallyBll/TallyBll_ck?id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
                //Serach_TALLYBILL();
            }
        });
    }

    //单个删除
    function Del_lh(id) {
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/TallyBll/DelTALLYBILLById',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("删除成功！", "您已经永久删除了这条信息。", "success");
                        Serach_TALLYBILL();

                    } else {
                        swal("删除失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function shenhe_lh(id) {
        swal({
            title: "您确定要完成这条信息吗",
            text: "完成后将改变此条数据以及所有子数据，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "完成",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/TallyBll/shenheTALLYBILL',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("操作成功！", "您已经完成了此条数据。", "success");
                        Serach_TALLYBILL();

                    } else {
                        swal("操作失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function qx_shenhe_lh(id) {
        swal({
            title: "您确定要完成这条信息吗",
            text: "请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/TallyBll/qx_shenheTALLYBILL',
                data: { ID: id },
                dataType: 'json',
                success: function (data, textStatus) {
                    data = eval('(' + data + ')');
                    if (data.state == "success") {
                        swal("操作成功！", "您已经取消审核了此条数据。", "success");
                        Serach_TALLYBILL();

                    } else {
                        swal("操作失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function chakan_CONSIGN(id_GoodsBill, id) {
        layer.open({
            type: 2,
            title: "查看委托单",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/Entrust/CONSIGN_ck?id_GoodsBill=" + id_GoodsBill + "&&id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }
</script>

<link href="~/Content/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<script src="~/Content/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>


<script>
    $(function () {
        parent.layer.closeAll();
    });
</script>