
@{
    ViewBag.Title = "票货列表";
    Layout = "~/Views/Shared/_LayoutBootstrapTable.cshtml";
}

<script src="~/Content/layer/layer.js"></script>
<script src="~/Content/My97DatePicker/WdatePicker.js"></script>
<div class="panel-body">
    <div id="toolbar" class="btn-group">

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-search" aria-hidden="true">  </span>查询
        </button>
    </div>
    <table id="table"></table>
</div>
<input type="hidden" class="form-control" id="roleId" name="roleId" value="@ViewBag.roleId">
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>

                <h4 class="modal-title">请输入查询条件</h4>

            </div>
            <div class="modal-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="GBNO" placeholder="编码">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="C_GOODSAGENT_NAME" placeholder="货代">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" class="form-control" id="CreatTime" placeholder="创建时间从">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" class="form-control" id="CreatTime1" placeholder="创建时间至">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="BLNO" placeholder="提单">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="C_GOODS" placeholder="货物">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="HuoZhu" placeholder="货主">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="ShipName" placeholder="船名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="VGNO" placeholder="航次">
                        </div>
                   
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" id="btn_query" class="btn btn-sm btn-primary" onclick="Serach()">查询</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeDateFormat(cellval) {
        var dateVal = cellval + "";
        if (cellval != null) {
            var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    }
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#table').bootstrapTable({
                url: '/Money/GetGOODSBILLList', //请求后台的URL（*）
                method: 'get', //请求方式（*）
                toolbar: '#toolbar', //工具按钮用哪个容器
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                sortable: true, //是否启用排序
                sortOrder: "asc", //排序方式
                queryParams: oTableInit.queryParams, //传递参数（*）
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                pageSize: 10, //每页的记录行数（*）
                pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true, //是否显示所有的列
                showRefresh: true, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                // height: $(window).height() - 30,
                uniqueId: "ID", //每一行的唯一标识，一般为主键列
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: false, //是否显示父子表
                onLoadSuccess: function (data) {
                    var kunCun = 0.0;
                    var kunCunW = 0.0;
                    for (var o in data.rows) {
                        if (data.rows.hasOwnProperty(o)) {
                            var zKunCun = parseFloat(data.rows[o].KunCun);
                            var zKunCunW = parseFloat(data.rows[o].KunCunW);
                            if (zKunCun < 0) {
                                zKunCun = 0;
                            }
                            if (zKunCunW < 0) {
                                zKunCunW = 0;
                            }
                            kunCun += parseFloat(zKunCun);
                            kunCunW += parseFloat(zKunCunW);
                        }
                    }
                    var rows = [];
                    rows.push({
                        GBNO: "",
                        ContoractNumber: "",
                        C_GOODSAGENT_NAME: "",
                        C_GOODS: "",
                        ShipName: "",
                        VGNO: "",
                        PLANAMOUNT: "",
                        PLANWEIGHT: "",
                        PLANWEIGHT: "",
                        MARK: "",
                        CreatPeople: "",
                        State: "",
                        HuoZhu: "",
                        PLANWEIGHT: "合计",
                        KunCun: kunCun.toFixed(3),
                        KunCunW: kunCunW.toFixed(3),
                    });
                    $('#table').bootstrapTable('append', rows);
                },
                columns: [              
                    {
                      
                        field: 'GBNO',
                        title: '票货编码',
                        formatter: function (value, row, index) {
                            return '<a  onclick="chakan(\'' + row.ID + '\')">' + row.GBNO + '</a>';
                        }
                        ,
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    //{
                     
                    //    field: 'ContoractNumber',
                    //    title: '合同号',
                    //    formatter: function (value, row, index) {
                    //        var roleId = $("#roleId").val();
                    //        if (roleId != 4) { 
                    //            if (row.ContoractNumber != null) {
                    //                return '<a  onclick="chakan_ht(\'' + row.CONTRACT_Guid + '\')">' + row.ContoractNumber + '</a>';
                    //            }
                    //        }
                          
                           
                    //    }

                    //},
                    {
                        field: 'C_GOODSAGENT_NAME',
                        title: '货代',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll

                    },
                    {
                        field: 'HuoZhu',
                        title: '货主',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'C_GOODS',
                        title: '货物',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'ShipName',
                        title: '船名',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'VGNO',
                        title: '航次',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    //{
                    //    field: 'PLANAMOUNT',
                    //    title: '计划件数',
                    //    cellStyle: {
                    //        css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                    //    }
                    //    , formatter: tdShowAll
                    //},
                    //{
                    //    field: 'PLANWEIGHT',
                    //    title: '计划重量/材积',
                    //    cellStyle: {
                    //        css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                    //    }
                    //    , formatter: tdShowAll
                    //},
                    {
                        field: 'KunCun',
                        title: '库存件数',
                        formatter: function (value, row, index) {
                                return '<a>' + row.KunCun + '</a>';

                            }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'KunCunW',
                        title: '库存重量/材积',
                        formatter: function (value, row, index) {
                                return '<a>' + row.KunCunW + '</a>';
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'MARK',
                        title: '备注',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        width: 110,
                        field: 'CreatTime',
                        title: '建票日期',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'CreatPeople',
                        title: '建票人',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'State',
                        title: '状态',
                        formatter: function (value, row, index) {
                            if (row.State == "进行中") {
                                
                                return '<span class="label label-danger ">' + value +'</span>';

                            }
                            else if (row.State == "已完成")
                            {
                                return '<span class="label label-primary ">' + value +'</span>';
                            }
                            else {
                                return '<span class="label label-warning ">'+value+'</span>';

                            }
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    }

                ],
           
                formatLoadingMessage: function () {
                    return "请稍等，正在加载中。。。";
                }
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {
                limit: params.limit, //页面大小
                offset: params.offset, //页码
                GBNO: $("#GBNO").val(),
                C_GOODSAGENT_NAME: $("#C_GOODSAGENT_NAME").val(),
                CreatTime: $("#CreatTime").val(),
                CreatTime1: $("#CreatTime1").val(),
                BLNO: $("#BLNO").val(),
                C_GOODS: $("#C_GOODS").val(),
                HuoZhu: $("#HuoZhu").val(),
                ShipName: $("#ShipName").val(),
                VGNO: $("#VGNO").val()
            };
            return temp;
        };
        return oTableInit;
    };



    function chakan(id) {
        layer.open({
            type: 2,
            title: "查看票货",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/GOODSBILL_xq?id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }
    function chakan_ht(CONTRACT_Guid) {
        layer.open({
            type: 2,
            title: "查看合同",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/HeTong_xq?CONTRACT_Guid=" + CONTRACT_Guid,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }


    function chakan_goodsBill(id) {
        layer.open({
            type: 2,
            title: "查看票货",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/GOODSBILL_xq?id=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }

</script>
<script>
    $(function () {
        parent.layer.closeAll();
    });
</script>


