
@{
    ViewBag.Title = "待办事项";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<html>


<!-- Mirrored from www.zi-han.net/theme/hplus/notifications.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:53 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 通知 &amp; 提示</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>待办事项</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                        <div class="ibox-content">
                            <div class="alert alert-success">
                                有 @ViewBag.Ht 合同待审核 <a class="alert-link" onclick="chakan_ht()">了解更多</a>.
                            </div>
                            <div class="alert alert-info">
                                有 @ViewBag.Ph 条票货待审核 <a class="alert-link" onclick="chakan_ph()">了解更多</a>.
                            </div>
                            <div class="alert alert-warning">
                                有 @ViewBag.wt 条委托待审核 <a class="alert-link" onclick="chakan_wt()">了解更多</a>.
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <script>
        function chakan_ht() {
            var url = "/ck/Contract/Index";
            var newTab = window.parent.document.getElementById("addNewTabBySon");
            newTab.href = url;
            newTab.innerText = "合同管理";
            newTab.click();
        }
        function chakan_ph() {
            var url = "/ck/GoodsBill/GOODSBILLList";
            var newTab = window.parent.document.getElementById("addNewTabBySon");
            newTab.href = url;
            newTab.innerText = "票货管理";
            newTab.click();
        }
        function chakan_wt() {
            var url = "/ck/Entrust/EntrustIndex_djlsh";
            var newTab = window.parent.document.getElementById("addNewTabBySon");
            newTab.href = url;
            newTab.innerText = "委托管理";
            newTab.click();
        }
    </script>

</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/notifications.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:53 GMT -->
</html>
