
@{
    ViewBag.Title = "查看库存的委托";
    Layout = "~/Views/Shared/_LayoutBootstrapTable.cshtml";
}
<script src="~/Content/layer/layer.js"></script>
<script src="~/Content/bootstraptableedu/bootstrap-table-export.js"></script>
<script src="~/Content/bootstraptableedu/tableExport.js"></script>
<div class="panel-body">
    <table id="table"></table>
</div>


<input id="Booth_id" name="Booth_id" type="hidden" class="form-control" value="@ViewBag.Booth_id" />
<script type="text/javascript">
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#table').bootstrapTable({
                url: '/TallyBll/GetKuCunList_xq', //请求后台的URL（*）
                method: 'get', //请求方式（*）
                toolbar: '#toolbar', //工具按钮用哪个容器
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                sortable: true, //是否启用排序
                sortOrder: "asc", //排序方式
                queryParams: oTableInit.queryParams, //传递参数（*）
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                pageSize: 10, //每页的记录行数（*）
                pageList: [10, 25, 10000], //可供选择的每页的行数（*）
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true, //是否显示所有的列
                showRefresh: true, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                // height: $(window).height() - 30,
                uniqueId: "ID", //每一行的唯一标识，一般为主键列
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: false, //是否显示父子表

                showExport: false,  //是否显示导出按钮
                buttonsAlign: "right",  //按钮位置

                columns: [
                    {
                        field: 'BGON',
                        title: '委托号',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: function (value, row, index) {
                          
                                return '<a  onclick="ChakanLiHuoDan(\'' + value + '\')">' + value + '</a>';
                            
                           
                        }
                    }
                    ,
                
                    {
                        field: 'huodai',
                        title: '货代',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }
                    ,
                    {
                        field: 'huowu',
                        title: '货物',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    },
                    {
                        field: 'AMOUNT',
                        title: '件数',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }
                    ,
                    {
                        field: 'WEIGHT',
                        title: '重量',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                     {
                         field: 'REMARK',
                        title: '进出库',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        },
                        formatter: tdShowAll
                    }

                ]

            });
        };
        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {
                limit: params.limit, //页面大小
                offset: params.offset, //页码
                Booth_id: $("#Booth_id").val()
            };
            return temp;
        };
        return oTableInit;
    };




    function ChakanLiHuoDan(id) {
        layer.open({
            type: 2,
            title: "查看理货单",
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: "/ck/TallyBll/ChakanLiHuoDanByWeiTuo?BGON=" + id,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
                Serach();
            }
        });
    }





</script>




