
@{
    ViewBag.Title = "票货列表";
    Layout = "~/Views/Shared/_LayoutBootstrapTable.cshtml";
}

<script src="~/Content/layer/layer.js"></script>
<script src="~/Content/My97DatePicker/WdatePicker.js"></script>

<div class="panel-body">
    <div id="toolbar" class="btn-group">

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-search" aria-hidden="true">  </span>查询
        </button>
    </div>
    <table id="table" class="table table-striped table_list"></table>
    <style>
        .table_list_box {
            table-layout: fixed !important;
        }
    </style>
</div>
<input type="hidden" class="form-control" id="roleId" name="roleId" value="@ViewBag.roleId">
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>

                <h4 class="modal-title">请输入查询条件</h4>

            </div>
            <div class="modal-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="GBNO" placeholder="编码">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="VGNO" placeholder="航次">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" class="form-control" id="CreatTime" placeholder="接单时间从">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" class="form-control" id="CreatTime1" placeholder="接单时间至">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="BLNO" placeholder="提单">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="C_GOODS" placeholder="货物">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="HuoZhu" placeholder="货主">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="ShipName" placeholder="船名">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-5">
                            <input type="hidden" class="form-control" id="C_GOODSAGENT_NAME" placeholder="货代">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" id="btn_query" class="btn btn-sm btn-primary" onclick="Serach()">查询</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#table').bootstrapTable({
                url: '/BsYeWuWeiTuo/GetBaoGuanGuanliList', //请求后台的URL（*）
                method: 'get', //请求方式（*）
                toolbar: '#toolbar', //工具按钮用哪个容器
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                sortable: true, //是否启用排序
                sortOrder: "asc", //排序方式
                queryParams: oTableInit.queryParams, //传递参数（*）
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                pageSize: 10, //每页的记录行数（*）
                pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true, //是否显示所有的列
                showRefresh: true, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                height: $(window).height() - 30,
                uniqueId: "ID", //每一行的唯一标识，一般为主键列
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: true, //是否显示父子表
                columns: [
                    {
                        field: 'ID',
                        width: 100,
                        title: '操作',
                        formatter: function (value, row, index) {
                            return '<button class=\'btn btn-sm btn-info\'  onclick="Addbg(\'' + row.ID + '\')">添加报关</a>'
                          
                        }

                    },
                    {

                        field: 'GBNO',
                        title: '票货编码',
                        formatter: function (value, row, index) {
                            return '<a  onclick="chakan(\'' + row.ID + '\')">' + row.GBNO + '</a>';
                        }
                        ,
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {

                        field: 'GBNO',
                        title: '查看放货指令',
                        formatter: function (value, row, index) {
                            return '<a  onclick="Addfhzl(\'' + row.ID + '\')">查看放货指令</a>';
                        }
                        ,
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        width: 130,
                        field: 'ContoractNumber',
                        title: '合同号',
                        formatter: function (value, row, index) {
                            var roleId = $("#roleId").val();
                            if (roleId != 4) {
                                if (row.ContoractNumber != null) {
                                    return '<a  onclick="chakan_ht(\'' + row.CONTRACT_Guid + '\')">' + row.ContoractNumber + '</a>';
                                }
                            }
                        }

                    },
                    {
                        field: 'YeWuLeiXing',
                        title: '业务类型',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll

                    },
                    {
                        field: 'ShipName',
                        title: '船名',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'VGNO',
                        title: '航次',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'BLNO',
                        title: '提单号',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'C_GOODS',
                        title: '货物名称',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'HuoZhu',
                        title: '货主',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'PLANWEIGHT',
                        title: '提单数',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'BaoShuiLeiXing',
                        title: '保税类型',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'MARK',
                        title: '备注',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        width: 110,
                        field: 'CreatTime',
                        title: '建票日期',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    },
                    {
                        field: 'CreatPeople',
                        title: '建票人',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'ShiJiJInKu',
                        title: '已进库',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'ShiJiChuKu',
                        title: '已出库',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    },
                    {
                        field: 'KunCunW',
                        title: '剩余量',
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                        , formatter: tdShowAll
                    }
                    ,
                    {
                        field: 'State',
                        title: '状态',
                        formatter: function (value, row, index) {
                            if (row.State == "进行中") {

                                return '<span class="label label-danger ">' + value + '</span>';

                            }
                            else {
                                return '<span class="label label-warning ">' + value + '</span>';

                            }
                        },
                        cellStyle: {
                            css: { "text-overflow": "ellipsis", "-moz-text-overflow": "ellipsis", "overflow": "hidden", "white-space": "nowrap" }
                        }
                    }


                ],
                //注册加载子表的事件。注意下这里的三个参数！
                onExpandRow: function (index, row, $detail) {

                    InitSubTable_TALLYBILL(index, row, $detail);
                },
                formatLoadingMessage: function () {
                    return "请稍等，正在加载中。。。";
                }
            });
        };
     
        InitSubTable_TALLYBILL = function (index, row, $detail) {
            var fatherId = row.ID;
            var cur_table = $detail.html('<table id="Serach_TALLYBILL"></table>').find('table');
            $(cur_table).bootstrapTable({
            
                url: '/BsYeWuWeiTuo/GetBaoGuanList2', //请求后台的URL（*）
                method: 'get',
                queryParams: { GoodsBillId: fatherId },
                ajaxOptions: { GoodsBillId: fatherId },
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false, //是否显示分页（*）
                sortable: false, //是否启用排序
                sortOrder: "asc", //排序方式
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: false, //是否显示所有的列
                showRefresh: false, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                uniqueId: "guid", //每一行的唯一标识，一般为主键列
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: false, //是否显示父子表
            
                columns: [
                    {
                        field: 'ID',
                        width: 100,
                        title: '操作',
                        formatter: function (value, row, index) {
                            if (row.State != "结束") {
                                return '<div  class="btn-group"><button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button><ul class="dropdown-menu"><li><a  onclick="Del(\'' + row.Guid + '\')">删除</a></li><li><a  onclick="Edu(\'' + row.Guid + '\')">编辑</a></li><li><a  onclick="fangxing(\'' + row.Guid + '\')">报关放行</a></li></ul></div>'
                            }

                        }

                    },

                    {
                        field: 'BaoGuanShenQingRen',
                        title: '报关申请人',
                    },
                    {
                        field: 'BaoGuanLeiBie',
                        title: '报关类别',
                    },
                    {
                        field: 'LiuXiang',
                        title: '流向',
                    },
                    {
                        field: 'ChuanGongSi',
                        title: '船公司',
                    },
                    {
                        field: 'ShenPiKaiShiRiQi',
                        title: '审批开始日期',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                    },
                    {
                        field: 'ShenPiJieShuRiQi',
                        title: '审批结束日期',
                        formatter: function (value, row, index) {
                            return changeDateFormat(value)
                        },
                    },
                    {
                        field: 'State',
                        title: '状态',
                    },
                ],

                formatLoadingMessage: function () {
                    return "请稍等，正在加载中。。。";
                }

            });
        };
        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {
                limit: params.limit, //页面大小
                offset: params.offset, //页码
                GBNO: $("#GBNO").val(),
                C_GOODSAGENT_NAME: $("#C_GOODSAGENT_NAME").val(),
                CreatTime: $("#CreatTime").val(),
                CreatTime1: $("#CreatTime1").val(),
                C_GOODS: $("#C_GOODS").val(),
                HuoZhu: $("#HuoZhu").val(),
                ShipName: $("#ShipName").val(),
                VGNO: $("#VGNO").val(),
            };
            return temp;
        };
        return oTableInit;
    };
    function chakan(id) {
        parent.layer.open({
            type: 2,
            area: ['90%', '90%'],
            shadeClose: true, //开启遮罩关闭
            fixed: false, //不固定
            maxmin: true,
            content: "/ck/BsYeWuWeiTuo/YwWeiTuo_Deilated?id=" + id,
            btn: ['关闭'],
        });
    }


    function chakan_ht(CONTRACT_Guid) {
        layer.open({
            type: 2,
            title: "查看合同",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/GoodsBill/HeTong_xq?CONTRACT_Guid=" + CONTRACT_Guid,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
            }
        });
    }




    function Addbg(id) {
        parent.layer.open({
            type: 2,
            title: "新增报关信息",
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: "/ck/BsYeWuWeiTuo/Add_C_BaoGuan?id=" + id,
            btn: ['关闭'],
            //yes: function (index) {
            //    layer.close(index);
            //},
            end: function () {
                $("#Serach_TALLYBILL").bootstrapTable('refresh');
            }
        });
    }
    function Edu(guid) {
        parent.layer.open({
            type: 2,
            title: "编辑报关信息",
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '90%'],
            content: "/ck/BsYeWuWeiTuo/Add_C_BaoGuan?id=0&&guid=" + guid,
            btn: ['关闭'],
            //yes: function (index) {
            //    layer.close(index);
            //},
            end: function () {
                $("#Serach_TALLYBILL").bootstrapTable('refresh');
            }
        });
    }
    //删除
    function Del(guid) {
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/ck/BsYeWuWeiTuo/DelBaoGuanById',
                data: { guid: guid },
                dataType: 'json',
                success: function (data, textStatus) {
                     
                    if (data.state == "success") {
                        swal("删除成功！", "您已经永久删除了这条信息。", "success");
                        $("#Serach_TALLYBILL").bootstrapTable('refresh');

                    } else {
                        swal("删除失败！", "请联系管理员。", "error");

                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });


        });

    }
    function fangxing(guid) {
        layer.open({
            type: 2,
            title: "报关放行信息",
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: "/ck/BsYeWuWeiTuo/Add_C_BaoGuanFangXing?id=0&&guid=" + guid,
            btn: ['关闭'],
            yes: function (index) {
                layer.close(index);
            },
            end: function () {
                $("#Serach_TALLYBILL").bootstrapTable('refresh');
            }
        });

    }
    function Addfhzl(id) {
        var url = "/ck/BsYeWuWeiTuo/FangHuoZhiLingList?GoodsBillId=" + id;
        var newTab = window.parent.document.getElementById("addNewTabBySon");
        newTab.href = url;
        newTab.innerText = "放货指令列表";
        newTab.click();

    }
</script>

<link href="~/Content/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<script src="~/Content/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>


<script>
    $(function () {
        parent.layer.closeAll();
    });
</script>