<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Content/hplus/js/jquery.min.js"></script>
    <script src="~/Content/hplus/js/plugins/echarts/echarts.common.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
    <div>
        开始时间:<input id="starTime" name="starTime" type="text" class="form-control " required="required" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
        结束时间:<input id="endTime" name="endTime" type="text" class="form-control" required="required" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
        <input type="button" value="查询" onclick="Getdata()" />
    </div>
    <div id="main" style="height: 600px; width: 100%"></div>
    <script type="text/javascript">

        function Getdata() {
            $.ajax({
                type: "GET",
                url: "/ToOut/GetHuoZhongFenXi",
                datatype: "json",
                data: { starTime: $('#starTime').val(), endTime: $('#endTime').val() },
                beforeSend: function () {
                    layer.load("请等待。。。");
                },
                success: function (res) {
                    var names = [];
                    var zuoyeliang = [];
                    var shouru = [];
                    for (var i = 0; i < res.data.length; i++) {
                        names[i] = res.data[i].name;
                        zuoyeliang[i] = res.data[i].zuoyeliang;
                        shouru[i] = res.data[i].shouru;
                    }
                    var myChart = echarts.init(document.getElementById('main'));

                    option = {
                        title: {
                            text: '货种分析',
                            subtext: ''
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['作业量', '收入']
                        },
                        toolbox: {
                            show: true,
                            mark : {                                 // '辅助线开关'
                                show: true
                            },
                            feature: {
                                dataView: { show: true, readOnly: false },
                                magicType: { show: true, type: ['line', 'bar',] },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: names
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '作业量（吨）',
                                type: 'bar',
                                data: zuoyeliang,

                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                },
                complete: function (XMLHttpRequest, textStatus) {
                    layer.closeAll();
                },
            });
        }


    </script>
</body>

<!-- Mirrored from www.zi-han.net/theme/hplus/graph_echarts.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:59 GMT -->
</html>


